{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<legend style="margin: 10px; padding: 5px; color: black;">Add Employee

</legend>
<hr>
<form method="POST" style="margin: 10px; padding: 5px;">
    {% csrf_token %}
    <div class="row">
        <div class="col-4">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.email|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.phone|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{ form.id_number|as_crispy_field }}
        </div>
        <div class="col-4">
            {{ form.role|as_crispy_field }}
        </div>
    </div>
    <div class="row">
    </div>
    <button type="submit" class="btn btn-success" style="float: right;">Save</button>
</form>
<br>
{% endblock %}