{% extends 'base.html' %}
{% load static %}

{% block content %}
<legend style="margin: 10px; padding: 5px; color: black;">Commisions as at {{previous_month}}
   <a href="{% url 'salaries' %}"><button type="submit" class="btn btn-success" style="float: right;margin-right: 20px;">
    Current Month Commissions
</button></a>
</legend>
<hr>
<table class="table table-striped">

    <thead>
      <tr>
        <th>Employee</th>
        <th>Salary Month</th>
        <th>Customers Served</th>
        <th>Total Earned</th>
        <th>Commision this month</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        {% for employee in payroll %}
        <td>{{employee.name}}</td>
        <td>{{employee.previous_month}}</td>
        <td>{{employee.clients}}</td>
        <td>{{employee.total_earned}}</td>
        <td>{{employee.total_commission}}</td>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>
  <a href="{% url 'feruzi-salary-pdf' %}">
  <button type="submit" class="btn btn-success" style="float: right; margin-right: 20px;"><i class="fas fa-file-pdf"> Export To PDF</i></button></a>
  <div class="text-center container mt-5">
    {% if page_obj.has_previous %}
      <a href="?page={{page_obj.previos_page_number}}"><button type="button" class="btn btn-light">previous</button></a>
    {% endif %}

    <a><button type="button" class="btn btn-success">{{page_obj.number}}</button></a>

    {% if customer_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-light">next</button></a>
    {% endif %}

  </div>
{% endblock content%}