{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<legend style="margin: 10px; padding: 5px; color: black;">Create Invoice 
    <a href="{% url 'invoices' %}">
    <button type="submit" class="btn btn-success" style="float: right;">
    <i class="fas fa-list"> Invoice List </i>
</button></a>
</legend>
<hr>
<form method="POST" style="margin: 10px; padding: 5px;">
    {% csrf_token %}
    <div class="row">
        <div class="col-6">
            {{ form.service|as_crispy_field }}
        </div>
        <div class="col-6">
            {{ form.served_by|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            {{ form.branch|as_crispy_field}}
        </div>   
        <div class="col-4">
            {{ form.Total|as_crispy_field}}
        </div>   
        <div class="col-4">
            {{ form.payment_method|as_crispy_field}}
        </div>
    </div>
    <button type="submit" class="btn btn-success" style="float: right;">Create</button>
</form>
<br>
{% endblock %}